body{
    background-color: rgb(31, 139, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*color:rgb(31, 139, 222);*/
}

.editEmployee{
    width:1200px;
    margin:1.5rem 0rem;
    background-color: white;
    border-radius: 1rem;
}
Input[type=text],Input[type=email],Input[type=date],select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  #submitBtn{
    border:0px;
    border-radius: 0.4rem;;
    font-size: 1.5rem;
    width:20%;
    padding: 0.5rem 0.5rem;
    background-color:rgb(5, 126, 45);
    color:white;
    transition: 0.2s all;
}

#submitBtn:hover{
    cursor: pointer;
    background-color: rgb(8, 175, 8);
    color:white;
}