body{
    background-color: rgb(31, 29, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height:100vh; */
}

#heading{
    margin:3rem 0rem 0rem 0rem;
    color:rgb(241, 170, 63);
}

.employee{
    width:80%;
    margin:2rem 0rem;
}


.headers{
    font-weight: 700;
    background-color: rgb(167, 100, 0);
    color:rgb(255, 255, 255);
    padding:0.6rem 2rem;
}
td{
    text-align: center;
    padding:0.6rem 2rem;
    font-size: 1rem;
    margin:0.2rem;
    padding:0.7rem 1.5rem;
}
    
tr:nth-of-type(2n+1){
    background-color: rgb(217,168,123);
    
}
    
tr:nth-of-type(2n){
    background-color: rgb(255, 218, 183);    
}
 



/*  color
    font-size
    padding
    margins
    button style
    table positioning    

*/